# Django Settings
SECRET_KEY=django-insecure-change-me-for-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,*

# Database Settings (Uncomment for Production)
# DATABASE_URL=postgres://user:password@localhost:5432/dbname

# CORS Settings
CORS_ALLOW_ALL_ORIGINS=True
